*
{
    position:relative;
}

#form1{
    height:700px;
}

#myWindow
{
    width:75%;
    margin:0 auto; 
    height:80%;
    background:white;
    position:absolute;
    opacity:0.9;
    top:50px;
    left:50px;
    border-radius:12px;
    padding:12px;
    z-index:9999999999999999999;
}

#closeWindow
{
   position:absolute;
   top:55px;
   left:55px;
   z-index:99999999999999999999;
}

#diverse
{ 
    background: no-repeat center center;
}

.nav li:hover
{
    background:#c8c8c8;
    color:white!important;
}

.regularPage
{
    background:white;
    opacity:0.9;
    font-family:Arial;
    float:left;
    width:800px;
    border-radius:4px;
    padding:4px;
}